a {
    text-decoration: none;
    color: #aaa;
    font-weight: 400;
}
a:hover {
    text-decoration: none;
    color: #000;
}

li{
    list-style-type: none;
}

header{

}

nav{
    height: 100px;
}

.nav-left {
 width: 250px;
 height: 50px;
}

.nav-right {
 width: 700px;
 height: 50px;
 position: relative;
}

.logo{
    width: 90px;
    height: 50px;
}

.logo img {
    width: 100%;
    height: 100%;
}

ul{
    width: 100%;
    height: 100%;
    margin: 0;
}

button {
    width: 80px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #ddd;
    color: #000;
}

button:last-child{
    width: 120px;
    background-color: #111;
    color: #fff;

}

.my-dropdown{
    position: absolute;
    width: 1000px;
    height: 200px;
}

#funzionalita{
    position: relative;
}

#full-dropdown {
    display: none;
    width: 1000px;
    border: 1px solid #000;
    left: -400px;
    top: 37px;
}

#full-dropdown > ul > li > span{
    color: #aaa;
}

#full-dropdown > ul > li > ul {
    padding-left: 0;
}
